/NetBeansProjects/JavaApplication2/nbproject/private/
/NetBeansProjects/JavaApplication2/build/
/NetBeansProjects/HOOLA MUNDO/build/
/NetBeansProjects/Practica_01/nbproject/private/
/NetBeansProjects/Practica_01/build/
/NetBeansProjects/Ejemplo01/nbproject/private/
/NetBeansProjects/Ejemplo01/build/
/NetBeansProjects/Ejemplo01/dist/
